<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head">

</head>
<body>
<div class="container" style="width: 80%; align-content: center">
<div th:if="${userList!=null}" style="text-align: center;">
    <h1>LISTA</h1>
    <table class="table" th:object="${userList}">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Speciality</th>
        </tr>
        </thead>
        <tbody th:each="item:${userList}">
        <tr>
            <th scope="row" th:text="${item.id}">1</th>
            <td th:text="${item.firstName}">Mark</td>
            <td th:text="${item.lastName}">Jacob</td>
            <td th:text="${item.email}">Larry</td>
            <td th:text="${item.speciality}">Uć</td>

        </tr>

        </tbody>
    </table>
</div>
    <a href="/" class="btn btn-primary">Home</a>
</div>

</body>
</html>